body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
  color: #fff;
}

.player-container {
  width: 400px;
  height: 600px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* 标题栏 */
.title-bar {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.content {
  flex: 1; /* 自动撑满中间区域 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* 保持比例裁切 */
  border-radius: 8px;
}

.player-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #444;
}